{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Playlist 1
  </h1>
  <p>
    A small app to let you compose playlists.<br>
    The purpuse of this app is to create and display different playlists.
  </p>
</section>